@import '~vuetify/dist/vuetify.min.css'

//  .v-application code {
//    box-shadow: none;
//    display: inline;
//  }

//  .v-application code:after, .v-application code:before, .v-application kbd:after, .v-application kbd:before {
//    content: none;
//  }